*{margin:0;padding:0;}

a {
    text-decoration: none;
}
ul li {
    display: inline-block;
}

body{
    background-color: #f0f0f0;
}
.wrap{
    width: 100%;
    height: 1800px;
}

.main{
    width: 79.5%;
    height: 100%;
    float: right;
    background-color: #f0f0f0;
}

.mainLeft{
    width: 65%;
    height: 100%;
    float: left;
    background-color: #ffffff;
}

.mainRight{
    width: 33%;
    height: 100%;
    float: left;
    margin-left: 2%;
    background-color: #ffffff;
}


.positionName{
    width: 96%;
    height: 4%;
    margin-top: 25px;
    margin-left: -30px;
    background-color: #3d9ccc;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 3px #3d9ccc;
    padding: 2%;
}

.positionInfo{
    width: 96%;
    height: 15%;
    margin-bottom: 10px;
    padding: 2%;
}

.positionDesc{
    width: 96%;
    height: 15%;
    margin-bottom: 10px;
    padding: 2%;
}


.positionMatch{
    width: 96%;
    height: 25%;
    margin-bottom: 10px;
    padding: 2%;
    background-color: lightcoral;
}


.positionRecommend{
    width: 96%;
    height: 20%;
    margin-bottom: 10px;
    padding: 2%;
    background-color: pink;
}

.companyInfo{
    width: 100%;
    height: 70%;
    margin-bottom: 20px;
}

.companyImageAndName{
    width: 100%;
    height: 30%;
    margin-bottom: 20px;
    background-color: deeppink;
}
.companyMap{
    width: 100%;
    height: 30%;
    margin-bottom: 20px;
    background-color: saddlebrown;
}

.companyBoss{
    width: 100%;
    height: 30%;
    margin-bottom: 20px;
    background-color: #c8c8c8;
}

.system_ad3{
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
    background-color: #00528c;
}

.companyRecommend{
    width: 100%;
    height: 13%;
    margin-bottom: 20px;
    background-color: crimson;
}


.infoOne{
    width: 96%;
    height: 25%;
    margin-bottom: 20px;
}

.infoTwo{
    width: 96%;
    height: 20%;
    margin-bottom: 5px;
}

.infoThree{
    width: 96%;
    height: 28%;
    margin-bottom: 5px;
}

.infoFour{
    width: 96%;
    height: 24%;
    font-size: 15px;
    margin-bottom: 5px;
}

.positionDescOne{
    width: 96%;
    height: 47.5%;
    margin-bottom: 20px;
}
.positionDescTwo{
    width: 96%;
    height: 47.5%;
    margin-bottom: 20px;
}
.positionMatchTile{
    width: 96%;
    height: 96%;
    margin-bottom: 20px;
    background-color: darkgoldenrod;
}
.positionRecommendOne{
    width: 96%;
    height: 96%;
    margin-bottom: 20px;
    background-color: darkgoldenrod;
}

.salary{
    float: left;
    vertical-align: middle;
    padding: 5px 0;
}

.sendResume{

    border-radius: 5px;
    float: right;
    background: cornflowerblue;
    padding: 15px 80px 15px 80px;
    background-color:#ff7f00;

}

.infoThree ul li{
    float: left;
    padding: 4px 8px;
    margin: 6px 12px 6px 0;
    color: #3d9ccc;
    border: 1px solid #e1f2fa;
    background-color: #edf9ff;
    cursor: default;
}

.detailDescOne{
    width: 70%;
    height: 80%;
    margin: 0px auto;
    /*//指定显示行数*/
    line-height: 130%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    /* autoprefixer: on */

}

.detailDescTwo{
    width: 70%;
    height: 80%;
    margin: 0px auto;
    overflow: hidden;
    line-height: 130%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}





#choice-box{
    width: 600px;
    height: 200px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    left:0; right:0; top:0; bottom:0;
    margin:auto;
    display: none;
    z-index: 2;
    border: #127fb6 1.5px solid;
}

#box_header{
    width: 100%;
    height: 30%;
    border-bottom: #eee solid 1px;
}
#box_selection{
    width: 100%;
    height: 60%;

}



#box_itemOne{
    width: 50%;
    height:50%;

    margin: 0px auto;
    padding-top: 10px;
    padding-left:20px;
}
.box_input{
    float: left;
    margin-right: 40px;
}


#box_itemsTwo{
    width: 100%;
    height:50%;
    margin: 0px auto;
    padding-top: 10px;
    border-top: #eee solid 1px ;
}

#box_bt_div{
    width: 40%;
    height: 60%;
    margin: 0px auto;
}
#box_bt_div button{
    font-size: 16px;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    margin-right: 30px;
    outline: none;
    background-color: #3d9ccc;
}




.radio {
    margin: 0.5rem;
    margin-right: 30px;
    display: inline-block;
}
.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
    background-color: #3197EE;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #3197EE;
}
.radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}